* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-img {
    max-width: 60%;
    max-height: 150px;
    margin-top: 1.5em;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3em;
    
}

body > * {
    max-width: min(80%, 600px);
}

button {
    outline: none;
    border: none;
    font-size: 1.3rem;
    padding: 10px 30px;
    border-radius: 1em;
    background-color: #032757;
    color: white;
    font-weight: 900;
}

form {
    display: flex;
    flex-direction: column;
    gap: .3em;
}

form > :is(input, select) {
    font-size: 1.3rem;
}

div.add-note-checkbox-wrapper:has(.add-note-checkbox:not(:checked)) + .add-note-textarea {
    display: none;
}

.already-checked-in {
    border: .5em solid rgb(0, 48, 0);
    background-color: rgb(71, 129, 71);
    color: white;
    padding: 1em 3em;
    border-radius: 0.5em;
}

.small-checkbox {
    font-size: .8rem;
    margin-top: .5em;
}